.Header__Block {
    background-color: greenyellow;
    height: 15vh;
    position: relative;
}

.Header__Title {
    font-size: 7.5rem;
    text-align: center;
    padding-top: 1rem;
}


.Header__Search {
    position: absolute;
    height: 7.5rem;
    top: 15rem;
    width: 35%;
    font-size: 7rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    top: 25rem;
    width: 10%;
    background-color: greenyellow;
    border-radius: 10px;
    font-size: 2rem;
}
}

.Header__Search__Button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    top: 25rem;
    width: 10%;
    background-color: greenyellow;
    border-radius: 10px;
    font-size: 2rem;
}

.Header__Search__Button:hover {
    opacity: .85;
}

@media (max-width: 1100px) {
    .Header__Title {
        font-size: 6rem;
        top: 2rem;
    }
}
@media (max-width: 850px) {
    .Header__Title {
        font-size: 4.5rem;
        top: 3rem;
    }

    .Header__Search {
        height: 4rem;
        font-size: 6rem;
        top: 3.5rem;
    }
}